* {
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

/* === header start === */
.header {
  background-color: #f8f8f8;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin: auto;
  font-size: 16px;
}
.header-left,
.header-right {
  display: flex;
  padding: 10px 0;
}
.header-left > *,
.header-right > * {
  margin-left: 15px;
}
.mail {
  margin-left: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
/* === header end === */
/* === navbar start === */
.navbar {
  width: 85vw;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

/* === navbar end === */
/* === navbar-collapse start === */

.navbar-collapse {
  background-color: #337ab7;
  width: 88vw;
  margin: auto;
  height: 41px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: 1px solid white;
}
.navbar-collapse > * {
  padding: 10px 15px;
  border-left: 1px solid white;
}
/* === navbar-collapse end === */
/* === notice start === */
.notice {
  width: 85vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.notice-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.notice-header-line {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: #01bafd;
  margin: 10px 10px;
}
.notice-container {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-top: 20px;
  margin-bottom: 50px;
}

.notice-container > * {
  width: 30%;
  border-radius: 20px;
  height: 346px;
}

.notice-container-header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  font-family: montserrat;
  border-radius: 20px 20px 0 0;
  color: white;
}
.notice-container-header > * {
  margin-right: 5px;
}

.news-header {
  background-image: linear-gradient(to right, #f57f1c, rgb(230 230 230));
}
.notices-header {
  background-image: linear-gradient(to right, rgb(0 161 75), rgb(230 230 230));
}
.ann-header {
  background-image: linear-gradient(to right, rgb(10 31 85), rgb(230 230 230));
}

.notice-body {
  height: 266px;
  border: 1px solid black;
}

.notice-footer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  color: white;
}

.news-footer {
  background-color: #f57f1c;
}

.notices-footer {
  background-color: rgb(0 161 75);
}

.ann-footer {
  background-color: rgb(10 31 85);
}

/* === notice end === */

/* === office desk starts === */
.office-desk {
  background-color: #00000013;
  padding: 50px 0 100px;
}
.office-container {
  width: 85vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.office-container > * {
  background-color: white;
}

.office-header {
  margin-bottom: 20px;
}

.principal,
.superintendant {
  width: 35.1%;
  height: 440px;
  border: 0.1px solid #888;
}

.card-header {
  background-color: #337ab7;
  height: 40px;
  padding: 20px 0 0 10px;
  color: white;
  font-size: 18px;
  margin-top: -5px;
}
.read-all {
  color: orange;
  cursor: pointer;
}
.card-body {
  padding: 20px 10px 10px 10px;
}

.menu {
  width: 25%;
  border: 0.5px solid #01bafd;
}
.menu-container {
  background-color: white;
  padding: 10px;
}
.items {
  height: 44px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item-contact {
  border-bottom: none;
}

/* === office desk ends === */
/* === features start === */

.features {
  height: 355px;
  background-color: #333333;
}

.features-container {
  height: 155px;
  width: 85%;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}

.feature-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #888;
  width: 256px;
  font-size: 22px;
}

.feature-items > i {
  font-size: 50px;
}

.num {
  font-size: 35px;
  font-family: Montserrat;
  font-weight: 600;
  margin: 10px 0 5px;
}

.last-item {
  border-right: none;
}

/* === feature ends === */
/* === about us start === */
.about-us {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin: auto;
  padding: 100px 0;
}
.about-left {
  flex: 1;
  padding: 10px;
}
.about-video {
  height: 370px;
  width: 555px;
}

.about-right {
  flex: 1;
  padding: 10px 20px;
}
.about-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.about-header-tag {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 600;
}

.about-header-line {
  content: "";
  width: 130px;
  height: 3px;
  display: inline-block;
  background: #01bafd;
  margin: 10px 10px;
}

.about-right > p {
  text-align: justify;
}

/* === about us ends === */
/* === courses start === */

.courses {
  background-color: #333333;
  height: 800px;
}

.course-header-tag {
  color: white;
  margin-top: 30px;
}
.about-header-line {
  margin-top: 35px;
}

.course-container {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.course-card-body {
  padding: 30px 15px 30px 15px;
  height: 222px;
  position: relative;
}

.course-card-body > p {
  text-align: justify;
  font-size: 14px;
  font-family: Roboto;
  line-height: 1.7;
  letter-spacing: 0.3px;
}

.courses-cards {
  width: 350px;
  background-color: white;
}
.course-header {
  height: 40px;
  background-color: #f8f3d4;
  display: flex;
  justify-content: space-between;
  padding: 6px 20px;
  align-items: center;
  margin-top: -4px;
}

.course-card-body-footer {
  height: 30px;
  border-top: 0.5px solid #888;
  padding: 8px;
  position: absolute;
  bottom: 0;
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

/* === courses ends === */

/*  === Moments starts === */

.moments {
  padding: 100px 0;
}

.moments-header-tag {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 700;
}

.moments-container {
  width: 85%;
  margin: auto;
  margin-top: 38px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*  === Moments ends === */
/*  === Testimonial starts === */

.testimonial {
  background-image: url(../img/testimonial-bg.jpg);
  background-attachment: fixed;
  background-position: center center;
  padding: 100px 0;
  background-size: cover;
  position: relative;
}

.testimonial-container {
  padding: 0 10%;
  margin: auto;
}

.dark-layer {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.testimonial-quote-container {
  width: 840px;
  /* height: 200px; */
  background-color: #333333;
  margin: auto;
  padding: 60px 30px;
}

.testimonial-quote {
  z-index: 100;
}
.testimonial-quote > p {
  color: white;
  font-size: 16px;
}

/*  === testimonial ends === */
/*  === Footer starts === */

.footer-top {
  background-color: #333333;
  color: white;
  padding: 100px 0;
}
.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.footer-container > * {
  width: 20%;
  padding: 0 15px;
}
.info-header {
  font-size: 18px;
  font-family: Montserrat;
}

/*  === Footer ends === */
